.formStyle {
    /* border: 1px solid red; */
    border-radius: 10px;
    padding: 35px;
    /* text-align: center; */
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.heading {
    color: #005e36;
    font-weight: bold;
    text-align: center;
}
.formRow {
    padding: 10px;
    height: 85px;
}

.formRow p{
    margin-bottom: 0;
}

.errormsg {/* reserves space */
    color: red;
    font-size: 12px;
}


.submit {
    text-align: center;
    margin-top: 10px;
}

form input {
    /* margin-left: 10px; */
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
    background: #fbfbfb;
    border: 2px solid transparent;
    height: 36px;
    box-shadow: 0 0 0 1px #dddddd, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
    :focus{
        border: 2px solid #000;
        border-radius: 4px;
    }
}


