* {
    margin: 0;
    padding: 0;
}

body,html, #root {
    height: 100vh;
}
.wrapper {
    height: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.897);
}

h1,p,h2 {
    color: white;
    margin-bottom: 0;
}

.input-wrapper {
    margin: auto;
    text-align: center;

}