.primary_btn {
    background-color: black;
    color: white;
    padding: 15px 18px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    width: 50%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.outLine_btn {
    background-color: white;
    color: black;
    padding: 10px 18px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    width: 100%;
    border-radius: 5px;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 700;
}

.icon {
    font-size: 24px;
    display: flex;
    align-items: center;
}

